repos:
  - repo: https://github.com/psf/black
    rev: 20.8b1 # Replace by any tag/version: https://github.com/psf/black/tags
    hooks:
      - id: black
        language_version: python3 # Should be a command that runs python3.6+

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
      - id: mypy
        exclude: ^docs/conf.py

  - repo: https://gitlab.com/yaq/yaq-traits
    rev: v2020.11.0
    hooks:
        - id: yaq-traits-check

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: [-b master]

default_language_version:
  python: python3
